{% extends 'csv_main/layouts/main-layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block body%}
<form method="POST" id="form-container">
    <div class="container" style="max-width: 87%">
        {% csrf_token %}
        <br>
        <h5 style="display: inline-block">New schema</h5>

        <a href="{% url 'login' %}">
            <button class="btn btn-primary" style="float: right; padding: 10px; margin-right: 5%" type="submit">
                Submit</button>
        </a>
        <p>Name:</p>
        <div style="max-width: 25%">
            {% render_field schema_form.scheme_name placeholder=''  class='form-control' %}
        </div>
        <br>
        <div class="container" id='bird' style="max-width: 80%; float: left">
            <h5>Schema Columns</h5>
            {{ column_formset.management_form }}
            {% for form in column_formset %}
            <div>
                <div class='bird-form'>
                    <ul class="list-inline">
                        <li class="list-inline-item"><label>Column name</label>{% render_field form.column_name class='form-control' %}</li>

                        <li class="list-inline-item"><label>Type</label>{% render_field form.type  class='form-select' style='width: 300px' %}</li>

                        <li class="list-inline-item" style="float: right"><label>Order</label>{% render_field form.order class='form-control' %}</li>
                        {% if column_formset.can_delete %}
                            <li class="list-inline-item" style="float: right"><label>Delete</label>{% render_field form.DELETE class='form-control' %}</li>
                        {% endif %}
                        {{ form.parent_scheme }}
                    </ul>
                </div>
            </div>
            {% endfor %}
            <button id="add-form" type="button" class="btn btn-primary">Add Another Column</button>
        </div>
    </div>
</form>

{% endblock %}